*, *::before, *::after {
}
html {
    
}
body {

}

.main-nav {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;

    flex: 1;
    ul{
        list-style: none;
        margin:0;
        padding:0;
        display: flex;
        gap:1rem;
        flex-direction: row;
        width: fit-content;
       
        li[data-subroute="admin=true"],
        li[data-subroute="posts=true"],
        li[data-subroute="user=true"]
        {
            position: relative;
            .sub-routes-container
            {
                display: none;
                position: absolute;
                margin-left: 0px;
                padding: 0;
                height: auto;
                padding-top: .5rem;
                width: fit-content;
            }
            .sub-routes {
                display: none;
                flex-direction: column;
                background-color: white;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                border-radius: 4px;
                list-style: none;
                width: max-content;
                padding: 5px 10px;
            }
        }
        li[data-subroute="admin=true"]:hover
        {
            .sub-routes-container
            {
                display: block;
                
            }
            .sub-routes-admin
            {
                display: flex;
                
            }
        }
        li[data-subroute="posts=true"]:hover
        {
            .sub-routes-container
            {
                display: block;
                top:-10px;
                left:100%;
            }
            .sub-routes-posts
            {
                display: flex;
                justify-self: end;
                margin-left: 10px;
            }
        }
        li[data-subroute="user=true"]:hover
        {
            .sub-routes-container
            {
                display: block;
                top:-10px;
                left:100%;
            }
            .sub-routes-user
            {
                display: flex;
                justify-self: end;
                margin-left: 10px;
            }
        }
    }
}
